<template id="tmpl-sidecar-contents">
  <style>
    #container {
      padding: 20px 5px;
    }

     .output-area {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      height: 100%;
      padding-left: 10px;

      border-left: solid #eee 1px;
      display: block;
    }

    .output-area:last-child {
      margin-bottom: 20px;
    }
  </style>
  <div id="container"></div>
</template>

<script>
  (function () {
  let Sidecar = require('./lib/sidecar');
  let importDoc = document.currentScript.ownerDocument;
  let resultPrototype = Object.create(HTMLElement.prototype);

  resultPrototype.createdCallback = function() {

    let t = importDoc.querySelector('#tmpl-sidecar-contents');
    let clone = document.importNode(t.content, true);
    let root = this.root = this.createShadowRoot();
    this.root.appendChild(clone);

    const {ipcRenderer} = require('electron');

    let container = this.root.getElementById('container');

    let sidecar = new Sidecar(container, importDoc);
    ipcRenderer.on('message', (event, message) => { sidecar.consume.bind(sidecar)(message); });
  };

  document.registerElement('sidecar-contents', {prototype: resultPrototype});
})();
</script>
